name: Terraform Destroy

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  destroy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::194204782201:role/github-terraform-role
          aws-region: ap-southeast-1

      - uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init
        working-directory: terraform

      - name: Terraform Destroy
        working-directory: terraform
        env:
          TF_VAR_webui_admin_password: ${{ secrets.WEBUI_ADMIN_PASSWORD }}
        run: terraform destroy -auto-approve
